$navbar-default-big: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;


@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  margin-bottom: 0px;
}

.jumbotron {
  margin-top: 0px;
}

#yield-body {
  padding-top: 60px;
}

.nav_item {
  margin-left: 25px;
  float: left;
  margin-top: 20px;
}

.center {
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-botton: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 1.75em;
  text-align: center;
}

h4 {
  font-size: 1em;
  text-align: center;
}

h5 {
  font-size: 1em;
  text-align: left;
}

.left {
  text-align: left;
  letter-spacing: .25px;
}

.center-btn {
  margin-left: 40px;
}

.footer{
  margin-top: 30px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.recipe-name {
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
}

.style-ingredient-name {
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
}

.chef-info {
  margin-top: 10px;
}

.gravatar{
  border-radius: 10px;
}

.well{
  background-color: #EDEDED;
  border-radius: 10px;
}

input, textarea, select, .uneditable-input{
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
}

input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}

span.picture {
  margin-top: 10px;
  input {
    border:0;
  }
}

.show_recipe{
  margin: 10px 10px 10px 10px;
}


.chef-well{
  width: 200%;
}