
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">MyRecipies</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Page 2", "/test" %></li>
      <% if logged_in? %>
        <li><%= link_to "New Recipe", new_recipe_path %></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if not logged_in? %>
        <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% else %>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% end %>
    </ul>
  </div>
</nav>
